.home {
  max-width: 1180px;
}

.focusedProd {
  padding: 100px 0 60px;
}

/* title */
.titleWrap {
  margin: 0 0px 24px;
  text-align: center;
  position: relative;
}

.titleKey {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: rgba(253, 25, 9, 0.8);
  display: block;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.4px;
  display: inline-block;
  position: relative;
}

/* shopList */
.keywordWrap {
  padding: 0 0px 72px;
  width: 1180px;
  margin: 0px auto;

  display: flex;
  justify-content: center;
}

.keyword {
  float: left;
  color: #757575;
  margin-right: 28px;
  padding-bottom: 2px;
  border-bottom: transparent 1px solid;

  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.isActive {
  float: left;
  color: #cc1609;
  margin-right: 28px;
  padding-bottom: 2px;
  border-bottom: #cc1609 2px solid;

  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}
